
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link" routerLink="/bar-chart">Bar Chart</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/show-charts">multiple Chart</a>
        </li>
    </ul>
</div>



<!-- <div class=" row">
  <div class=" col-lg-8 ml-auto mr-auto">
    <div class=" row">
      <div class=" col-md-4">
        <button
          class=" btn btn-danger btn-block"
          (click)="showNotification('top', 'left')"
        >
          Top Left
        </button>
      </div>
      <div class=" col-md-4">
        <button
          class=" btn btn-danger btn-block"
          (click)="showNotification('top', 'center')"
        >
          Top Center
        </button>
      </div>
      <div class=" col-md-4">
        <button
          class=" btn btn-danger btn-block"
          (click)="showNotification()"
        >
          Top Right
        </button>
      </div>
    </div>
  </div>
</div><br>
<div class=" row">
  <div class=" col-lg-8 ml-auto mr-auto">
    <div class=" row">
      <div class=" col-md-4">
        <button
          class=" btn btn-danger btn-block"
          (click)="showNotification('bottom', 'left')"
        >
          Bottom Left
        </button>
      </div>
      <div class=" col-md-4">
        <button
          class=" btn btn-danger btn-block"
          (click)="
            showNotification('bottom', 'center')
          "
        >
          Bottom Center
        </button>
      </div>
      <div class=" col-md-4">
        <button
          class=" btn btn-danger btn-block"
          (click)="showNotification('bottom', 'right')"
        >
          Bottom Right
        </button>
      </div>
    </div>
  </div>
</div> -->




<button (click)="moveToMapPage()">Move to google map</button>





