<div class="body">
  <h1 style="color:#fff;width:100%;text-align:center">AWIROS</h1>
  <div class='some-page-wrapper'>

    <div class='row'>
        <div class='column'>
            <div class="chart-container">
              <canvas id="barChart"></canvas>
            </div>
        </div>
      <div class='column'>
        <div class="chart-container">
            <canvas id="lineChart"></canvas>
        </div>
      </div>
      <div class='column'>
          <div class="chart-container">
            <canvas id="pieChart"></canvas>
          </div>
      </div>
    </div>
    
    <div class='row'>
      <div class='column'>
          <div class='chart-container '>
            <canvas id="polarChart"></canvas>
          </div>
      </div>
                  
      <div class='column'>
          <div class='chart-container '>
            <canvas id="radarChart"></canvas>
          </div>
      </div>
    </div>

    <div class='row'>
      <div class='column'>
        <div class='chart-container'>
          <canvas id="mixedChart"></canvas>
        </div>
      </div>  
      <div class="column">
            <div class='chart-container'>
              <canvas id="doughnutChart"></canvas>
            </div>
      </div>
      <div class="column">
        <div class='chart-container'>
          <canvas id="horizontalChart"></canvas>
        </div>
      </div>
    </div>
  
    
  </div>
</div>